

.activité {
    padding-left: 33%;
    text-align:left;
    color: black;
    
}

.background1{

    background-color: #F4EAFF;
}

input[class=point]{

    height: 15px;
    width: 10%;   
    text-align: auto;
    float:left;
}

.type{

    width: 400px;

}

input[class=date] {
    
    padding: 8px;
    height: auto;
    margin-left: -17.5%;
    width:320px;
}

input[class=activité] {
    height: 40px;
    width:50%;
    background-color: white; 
    color: black;
    
    
}

.conninsc a:link {
    color: #400080;
}

.conninsc a:visited {
    color: purple;
}

.conninsc a:hover {
    color: #400080;
    text-decoration: underline;
}

button {
    background-color: black;
    color: white;
    border: 0px;
    width: 50%; 
    height: 40px;
    border-radius: 5px;
}

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

.output {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}

label {
    display: inline-block;
    text-align: right;
    width: 20%;
}
