.rdv {
    margin-left: 33%;
    text-align: left;
    color: black;
}

.info {
    height: 40px;
    width: 50%;
    box-sizing: border-box;
    background-color: #white; 
    color: black;
    border: 1px solid gray;
}

input[type=date] {
    height: 40px;
    width: 50%;
    box-sizing: border-box;
    background-color: #white; 
    color: black;
    border: 1px solid gray;
    text-align: center;
}

input[type=time] {
    height: 40px;
    width: 50%;
    box-sizing: border-box;
    background-color: #white; 
    color: black;
    border: 1px solid gray;
    text-align: center;
}
