.connexion {
    padding-left: 33%;
    text-align:left;
    color: black;
}

input[class=connexion] {
    height: 40px;
    width:50%;
    box-sizing: border-box;
    background-color: #white; 
    color: black;
    border: 1px solid gray;
}

.conninsc a:link {
    color: #400080;
}

.conninsc a:visited {
    color: purple;
}

.conninsc a:hover {
    color: #400080;
    text-decoration: underline;
}

button {
    background-color: black;
    color: white;
    border: 0px;
    width: 50%; 
    height: 40px;
    border-radius: 5px;
}
