
form{
    padding-left:50%;
}

.verifs{
    text-align: left;
    position:absolute;
    left:200px;
    color:black;
}

.mail{
    text-align: left;
    position:absolute;
    left:200px;
    color:black;
}
.modifpromo{
    text-align: left;
    position:absolute;
    left:200px;
    color:black;
}
.campus{
    text-align: left;
    position:absolute;
    left:200px;
    color:black;

}
input[type=password]{
    height:30px;
    position:absolute;
    left:200px;
    width:207px;
}

input[type=email]{
    height:30px;
    position:absolute;
    left:200px;
    width:200px;
}
input[type=text]{
    height:30px;
    position:absolute;
    left:200px;
    width:200px;
}

select{
    height:30px;
    position:absolute;
    left:200px;
    width:200px;
}

.slideTwo {
  width: 80px;
  height: 30px;
  background: #333;
  margin: -25px 70px auto;
  position: relative;
  border-radius: 50px;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
          box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.slideTwo:after {
  content: '';
  position: absolute;
  top: 14px;
  left: 14px;
  height: 2px;
  width: 52px;
  background: #111;
  border-radius: 50px;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
          box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}



.slideTwo label {
  display: block;
  width: 22px;
  height: 22px;
  cursor: pointer;
  position: absolute;
  top: 4px;
  z-index: 1;
  left: 4px;
  background: #fcfff4;
  border-radius: 50px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfff4), color-stop(40%, #dfe5d7), to(#b3bead));
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
}
.slideTwo label:after {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: 5px;
  left: 6px;
  background: #333;
  border-radius: 50px;
  -webkit-box-shadow: inset 0px 1px 1px black, 0px 1px 0px rgba(255, 255, 255, 0.9);
          box-shadow: inset 0px 1px 1px black, 0px 1px 0px rgba(255, 255, 255, 0.9);
}
.slideTwo input[type=checkbox] {
  visibility: hidden;
}
.slideTwo input[type=checkbox]:checked + label {
  left: 54px;
}
.slideTwo input[type=checkbox]:checked + label:after {
  background: #27ae60;
  /*activeColor*/
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
html {
  background: #29ce9a;
  font-family: Raleway;
  display: table;
  width: 100%;
  height: 100%;
}

body {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.demo {
  display: inline-block;
  padding: 10px;
  background-color: #fff;
  border-radius: 20px;
  color: #666;
  text-align: center;
}

.demo__content {
  text-align: left;
  display: inline-block;
}

.demo__title {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.switcher {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-left: 100px;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  font-size: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.switcher input {
  display: none;
}

.switcher__indicator::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  background-color: #d5d5d5;
  border-radius: 50%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-animation-name: pulsein;
          animation-name: pulsein;
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
}
.switcher__indicator::before {
  content: '';
  position: absolute;
  top: 16px;
  left: 0;
  width: 200px;
  height: 8px;
  background-color: #d5d5d5;
  border-radius: 10px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
input:checked + .switcher__indicator::after {
  background-color: #fff;
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
  -webkit-animation-name: pulseout;
          animation-name: pulseout;
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
}
input:checked + .switcher__indicator::before {
  background-color: #fff;
}
input:disabled + .switcher__indicator::after, input:disabled + .switcher__indicator::before {
  background-color: #e5e5e5;
}

@-webkit-keyframes pulsein {
  0%, 100% {
    top: 0px;
    height: 40px;
    width: 40px;
  }
  50% {
    top: 6px;
    height: 28px;
    width: 52px;
  }
}

@keyframes pulsein {
  0%, 100% {
    top: 0px;
    height: 40px;
    width: 40px;
  }
  50% {
    top: 6px;
    height: 28px;
    width: 52px;
  }
}
@-webkit-keyframes pulseout {
  0%, 100% {
    top: 0px;
    height: 40px;
    width: 40px;
  }
  50% {
    top: 6px;
    height: 28px;
    width: 52px;
  }
}
@keyframes pulseout {
  0%, 100% {
    top: 0px;
    height: 40px;
    width: 40px;
  }
  50% {
    top: 6px;
    height: 28px;
    width: 52px;
  }
}


