.team .thumbnail {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
    border: 1px solid #fff;
}

ul {
	list-style-type:none;
	text-decoration:none;
	margin-left:3%;
}



.box2{
  

    padding-left:2%;
    position:relative;
    margin-right:55%;


}
.box1{
    padding-left:35%;
    margin-top:-15%;
   
    padding:11.90%;
  
    position:relative;
    margin-left:70%;
   
}

.liste-skills2{
    margin-top:-188%;
    margin-left:-180%;
}
.autres {
    color: #400080;
}
.container-profil{
    padding-left:35%;

}

.verif{
    color:black;
}
