
input[class=rechercher] {
    height: 40px;
    width: 50%;
    box-sizing: border-box;
    border: 1px solid gray;
    background-color:white;
    color: black;
}

a[class=filtre] {
    color: black;
}

button[class=rechercher] {
    height: 40px;
}

button {
    background-color: black;
    color: white;
    border: 0px;
    width: 20%; 
    height: 40px;
    border-radius: 5px;
    font-weight: bold;
}
